<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/7a23147ccf.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pokedex</title>
</head>

<body id="pokedex-body">
    <div class="pokedex-container">
        <img src="/image/A-wild-Pokemon-appeared-3-6-2023.png" alt="pokemon-title" class="pokemon-image">
        <div class="pokedex">
            <div class="top">
                <div class="top1">
                    <div class="light-blue"></div>
                    <div class="light red"></div>
                    <div class="light yellow"></div>
                    <div class="light green"></div>
                    <div class="mock-buttons">
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                        <div class="mock-button"></div>
                    </div>
                </div>
                <div class="top2"></div>
                <div class="top3"></div>
                <div class="top4"></div>
                <div class="search-container">
                    <form action="/pokedex" method="post">
                        <input type="text" class="get-pokemon" name="pokemonName" size="10" required autocomplete="off">
                        <button type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="outer-screen">
                <div class="inner-screen"></div>
            </div>
            <div class="info-screen">

            </div>
            <div class="cylinder">
                <div class="part darker"></div>
                <div class="part lighter"></div>
                <div class="part darker"></div>
                <div class="part lighter"></div>
                <div class="part darker"></div>
                <div class="part lighter"></div>
            </div>
        </div>
    </div>

    <a href="https://digitalvault.netlify.app/project.html"><button class="nav-button">Back to Projects</button></a>
    <script src="https://kit.fontawesome.com/7a23147ccf.js" crossorigin="anonymous"></script>

</body>

</html>